.treadWrap {
		padding: 20px 0;
		ul {
		display: flex;
			li {
				flex: 1;
				display: flex;
				height: 140px;
				align-items:center;
				justify-content:center;
				background: rgb(252, 252, 183);
				border-right: 1px solid rgb(47, 42, 92);
				cursor: pointer;
				&:last-child {
					border-right: none;
				}
			}
		}
}
